= form_for @profile do |f|
  %ul.profile-form
    %li
      = f.label :first_name
      = f.text_field :first_name
    %li
      = f.label :last_name
      = f.text_field  :last_name
    %li
      = f.label :job_title
      = f.text_field :job_title
    %li
      = f.label :unit
      = f.collection_select "unit", @units, :first, :last
    %li
      = f.label :email
      = f.text_field :email
    %li
      = f.label :phone
      = f.text_field :phone
    %li
      = f.label :campus_address
      = f.collection_select "campus_address", @buildings, :first, :last
    %li
      = f.label :expertise
      = f.text_field  :expertise
    %li
      = f.label :introduction
      = f.text_area :introduction
    %li
      = f.label :publications
      = f.text_area :publications
    %li
      = f.label :staff_since
      = f.text_field :staff_since
    %li
      = f.label :liason_subject
      = f.text_field :liason
    %li
      = f.label :links
      = f.text_field :links
    %li
      = f.label :orcid
      = f.text_field :orcid
    %li
      = f.label :committees
      = f.text_field  :committees
    %li
      = f.label :personal_interests
      = f.text_area :personal_interests
    %li.radio
      Do you want your profile to show up on the UofA Libraries hompage?
      = f.label :no
      = f.radio_button :opt_in, "value", id: 'true'
      = f.label :yes
      = f.radio_button :opt_in, "value", id: 'false'
    = f.submit :class => 'btn btn-success'
