.container.profile-padding
  .row
    %h1
      Library Staff
  .row
    .profile-nav.col-md-11
      %ul
        %li
          = link_to "Our Chief Librarian", "/staff/gerald-beasley"
        %li
          = link_to "Our Strategic Leadership Team", "/about-us/staff/strategic-leadership-team"
        %li
          = link_to "Subject Librarians", "/about-us/staff/subject-librarians"
        %li
          = link_to "Student Library Advisory Council", "/slac"
        %li
          = link_to "HT Coutts Library Advisory Council", "/about-us/coutts-library-advisory-committee"
        %li
          = link_to "BSJ Library Advisory Council", "/about-us/bsj-advisory-committee"
    %table.staff
      %thead
        %tr
          %th.blank
          %th.first-name{"data-sort" => "string"}
            %h3
              First Name
          %th.last-name{"data-sort" => "string"}
            %h3
              Last Name
          %th.job-title.hidden-xs{"data-sort" => "string"}
            %h3
              Job Title
          %th.unit.hidden-xs{"data-sort" => "string"}
            %h3
              Unit
          %th.email.hidden-xs
            %h3
              Email
          %th.phone.hidden-xs   
            %h3
              Phone
          %th.building.hidden-xs{"data-sort" => "string"}      
            %h3
              Building
      - @profiles.each do |profile|
        %tr
          - @photo_link = "https://www2.library.ualberta.ca/2015assets/all-staff-photos/thumbs/"+profile.first_name.downcase+"-"+profile.last_name.downcase+".jpg"
          - @no_photo = "staff-photos/thumbs/none.jpg"
          %td
            = link_to image_tag(@photo_link, onerror:"this.src='https://www2.library.ualberta.ca/2015assets/all-staff-photos/thumbs/none.jpg'", style: 'width:100%;'), profile_path(profile)
          %td
            %h3
              = link_to(profile.first_name.capitalize, profile_path(profile)) 
          %td
            %h3
              = link_to(profile.last_name.capitalize, profile_path(profile)) 
          %td.hidden-xs
            = profile.job_title
          %td.hidden-xs     
            = profile.unit
          %td.hidden-xs   
            = mail_to profile.email, profile.email
          %td.hidden-xs    
            = profile.phone
          %td.hidden-xs      
            = profile.campus_address
   

