= link_to 'Back to All Staff', profiles_path |
= link_to 'Edit', edit_profile_path(@profile)
%h1
	= @profile.last_name
	= @profile.first_name
	:escaped
		-
	= @profile.job_title

= image_tag("staff-photos/"+@profile.last_name.downcase+".jpg", :class => "a-photo")
%ul.a-profile
	%li
		= @profile.unit
	%li
		= @profile.email
	%li
		= @profile.phone
	%li
		= @profile.campus_address
	%li
		= @profile.expertise
	%li
		= @profile.introduction
	%li
		= @profile.publications
	%li
		= @profile.staff_since
	%li
		= @profile.links
	%li
		= @profile.orcid
	%li
		= @profile.committees
	%li
		= @personal_interests
	%li
		= @opt_in
