.a-profile
  = link_to profiles_path, class: "staff-back" do
    <span class="glyphicon glyphicon-chevron-left"></span>  All Staff	
  - require 'uri'
  - @photo_link_dirty = "https://www2.library.ualberta.ca/2015assets/all-staff-photos/"+@profile.first_name.downcase+"-"+@profile.last_name.downcase+".jpg"
  - @photo_link = URI.encode(@photo_link_dirty)
  - res = Net::HTTP.get_response(URI.parse(@photo_link))
  - if res.code.to_i >= 200 && res.code.to_i < 400
    = image_tag(@photo_link, :class=>"a-photo")
  %h2.fn
    %span.given-name
      = @profile.first_name
      %span.family-name
        = @profile.last_name
    %h3.title
      = @profile.job_title
    %span.email
      %span.glyphicon.glyphicon-envelope
      = mail_to @profile.email, @profile.email, class: "email"
    %span.tel
      %span.glyphicon.glyphicon-earphone
      = link_to @profile.phone, "tel:"+@profile.phone
    %span.adr
      %span.street-address
        Building: 
        = link_to($buildings[@profile.campus_address.to_sym], "/locations/"+@profile.campus_address)
  %ul
    -if @profile.unit.presence
      %li.unit
        %h4.inline
          Unit:
        = link_to($units[@profile.unit.to_sym], "/staff/?unit="+@profile.unit)   
    -if @profile.expertise.presence
      %li.expertise
        %h4.inline
          Expertise:
        = @profile.expertise
    -if @profile.staff_since
      %li.staff-since
        %h4.inline
          Staff Since:
        = @profile.staff_since
    -if @profile.liason.presence
      %li.liason
        %h4.inline
          Liaison Subject:
        = @profile.liason
    -if @profile.introduction.presence
      %li.introduction
        %h4
          Introduction
        = @profile.introduction
    -if @profile.publications.presence
      %li.publications
        %h4
          Publications
        = @profile.publications
    -if @profile.links.presence
      %li.links
        %h4.inline
          Links:
        = link_to @profile.links, @profile.links
    -if @profile.orcid.presence
      %li.orcid
        %h4.inline
          ORCID:
        = link_to @profile.orcid, "https://orcid.org/"+@profile.orcid
    -if @profile.committees.presence
      %li.committees
        %h4.inline
          Committees:
        = @profile.committees
    -if @profile.personal_interests.presence
      %li.personal_interests
        %h4
          Personal Interests
        = @profile.personal_interests
