<p><%= t('request_form_mailer.name', name: @bpsc_read_on_site_request.name) %></p>
<p><%= t('request_form_mailer.email', email: @bpsc_read_on_site_request.email) %></p>
<p><%= t('request_form_mailer.date_of_planned_visit',
    appointment_time: @bpsc_read_on_site_request.appointment_time) %></p>
<p><%= t('request_form_mailer.title', title: @bpsc_read_on_site_request.title) %></p>
<p><%= t('request_form_mailer.call_number', call_number: @bpsc_read_on_site_request.call_number) %></p>
<p><%= t('request_form_mailer.item_url_html', item_url: @bpsc_read_on_site_request.item_url) %></p>
<p><%= t('request_form_mailer.notes', notes: @bpsc_read_on_site_request.notes) %></p>

<p>
  <%= t('this_email_was_generated_by_html',
        url: link_to(new_bpsc_read_on_site_request_url, new_bpsc_read_on_site_request_url)) %>
</p>
