<p>Name: <%= @bpsc_read_on_site_request.name %></p>
<p>Email: <%= @bpsc_read_on_site_request.email %></p>
<p>Appointment Time: <%= @bpsc_read_on_site_request.appointment_time %></p>
<p>Title: <%= @bpsc_read_on_site_request.title %></p>
<p>Item URL: <%= link_to(@bpsc_read_on_site_request.item_url, @bpsc_read_on_site_request.item_url) %></p>
<p>Notes: <%= @bpsc_read_on_site_request.notes %></p>

<p>*** this email generated automatically from <%= link_to(new_bpsc_read_on_site_request_url, new_bpsc_read_on_site_request_url) %> ***</p>
