<p><%= t('request_form_mailer.name', name: @rcrf_special_request.name) %></p>
<p><%= t('request_form_mailer.email', email: @rcrf_special_request.email) %></p>
<p><%= t('request_form_mailer.title', title: @rcrf_special_request.title) %></p>
<p><%= t('request_form_mailer.item_url_html', item_url: @rcrf_special_request.item_url) %></p>
<p><%= t('request_form_mailer.notes', notes: @rcrf_special_request.notes) %></p>
<p><%= t('request_form_mailer.library', library: @rcrf_special_request.library) %></p>

<p>
  <%= t('this_email_was_generated_by_html',
        url: link_to(new_rcrf_special_request_url, new_rcrf_special_request_url)) %>
</p>
