<p>Name: <%= @rcrf_special_request.name %></p>
<p>Email: <%= @rcrf_special_request.email %></p>
<p>Title: <%= @rcrf_special_request.title %></p>
<p>Item URL: <%= link_to(@rcrf_special_request.item_url, @rcrf_special_request.item_url) %></p>
<p>Notes: <%= @rcrf_special_request.notes %></p>
<p>Library: <%= @rcrf_special_request.library %></p>

<p>*** this email generated automatically from <%= link_to(new_rcrf_special_request_url, new_rcrf_special_request_url) %> ***</p>
