<%#Using the Bootstrap Pagination class  -%>
	<div class="well" id="previousNextDocument">
<% if params[:resultId].present? and session[:results].present? %>
<% if params[:resultId] != "1" and authenticated_user? %>
      <% prevId = params[:resultId].to_i - 1 %>
          <%= link_to "Previous", request.fullpath.split("/" + params[:dbid])[0] + "/switch/?" + generate_next_url + "&resultId=" + prevId.to_s %> |
<% end %>
    Result <strong><%= params[:resultId].to_s %></strong> of <strong><%= show_total_hits %></strong>
    <% if params[:resultId].to_i < show_total_hits.to_i and authenticated_user? %>
      <% nextId = params[:resultId].to_i + 1 %>
          | <%= link_to "Next", request.fullpath.split("/" + params[:dbid])[0] + "/switch/?" + generate_next_url + "&resultId=" + nextId.to_s %>
    <% end %>
<% end %>

<div class="pull-right">
      <% if params[:resultId].present? and session[:results].present? %>
      <%= link_to "Back to Search Results", request.fullpath.split("/" + params[:dbid])[0] + "?" + generate_next_url + "&fromDetail=y" %>
      |
      <% end %>
      <a href="/articles">New Search</a>
  </div>
	</div>
