
<% session[:current_url] = request.original_url %>

<% eds_connect %>
<%
  recordArray = retrieve(params[:dbid].to_s,params[:an].to_s,termsToHighlight(params[:highlight]))
  clean_params = deep_clean(params)
  params = clean_params
%>
<% unless session[:results].present? %>
 <% if session[:apiquery].present? %>
  <% search(session[:apiquery]) %>
 <% end %>
<% end %>
<% if recordArray['Record'].present? %>
<% record = recordArray['Record'] %>
<% end %>

<% if has_restricted_access?(record) %>
  <meta http-equiv="REFRESH" content="0;url=<%= new_user_session_path %>" />
<% else %>

 <div class="row">

  <div id="content" class="span9 show-document">

    <%= render 'previous_next_doc' %>

  <% @page_title = Sanitize.clean(show_title(record)) << " - Detailed Record - Blacklight" %>

  <%# this should be in a partial -%>
  <div id="document" class="<%= render_document_class %>">
    <div id="doc_<%= params[:dbid] %>_<%= params[:an] %>">
    

      <%# bookmark/folder functions -%>
      <h1><%= show_title(record) %></h1>

      <div class="document">
        <dl class="dl-horizontal dl-invert">

	  <% if has_authors?(record) %>
	    <dt class="blacklight-author_display">Author:</dt>
	    <dd class="blacklight-author_display"><%= show_authors(record) %></dd>
	  <% end %>
	  
	  <% if has_titlesource?(record) %>
	    <dt class="blacklight-author_display">Source:</dt>
	    <dd class="blacklight-author_display"><%= show_titlesource(record) %></dd>
	  <% elsif has_pubdate?(record) %>
	    <dt class="blacklight-format">Published:</dt>
	    <dd class="blacklight-format"><%= show_pubdate(record) %></dd>
	  <% end %>
	  
	    <% if has_pubtype?(record) %>
	    <dt class="blacklight-format">Format:</dt>
	    <dd class="blacklight-format"><%= show_pubtype(record) %></dd>
	    <% end %>
	  
	    <% if has_abstract?(record) %>
	    <dt class="blacklight-abstract">Abstract:</dt>
	    <dd class="blacklight-abstract"><%= show_abstract(record) %></dd>
	    <% end %>  
	    
	    <% if has_subjects?(record) %>
	    <dt class="blacklight-subject">Subjects:</dt>
	    <dd class="blacklight-abstract"><%= show_subjects(record) %></dd>  
	    <% end %>
	    
	    <% if has_full_text_on_screen?(record) %>
	    <a name="fulltext"></a>
	    <dt class="blacklight-subject">Full Text:</dt>
	    <% if authenticated_user? %>
 	    <dd class="blacklight-abstract"><%= show_full_text_on_screen(record).html_safe %></dd>
	    <% else %>
 	    <dd class="blacklight-abstract"><%= link_to "Please log in to display full-text.", new_user_session_path %></dd>	     
	    <% end %>
	    <% end %>

	</dl>
      </div>

     
    </div>
  </div>

  </div>

  <div id="sidebar" class="span3">
    <div class="record-image-detail">
    <% if has_coverimage?(record) %>
      <img src="<%= show_coverimage_link(record) %>" border="0" />
    <% else %>
      <span class="pt-icon pt-<%= show_pubtypeid(record) %>"></span>
    <% end %>
    <br />
    <%= show_pubtype(record) %>
    </div>
	    <% if authenticated_user? %>
	    <% if has_any_fulltext?(record) %>
	    <dt class="blacklight-fulltext">Full-Text Options:</dt>
	    <% fulltextlinks = [] %>
	    <dd class="blacklight-fulltext">
	    <% if has_pdf?(record) %>
	      <% fulltextlinks.push(link_to("PDF Full Text", show_pdf_link(record))) %>
	    <% end %>
	    <% if has_html?(record) %>
	      <% fulltextlinks.push(link_to("HTML Full Text", "#fulltext")) %>
	    <% end %>
	    <% if has_smartlink?(record) %>
	      <% fulltextlinks.push(link_to("Linked Full Text", show_smartlink(record))) %>
	    <% end %>
	    <% if has_ebook?(record) %>
	      <% fulltextlinks.push(link_to("eBook Full Text", show_ebook_link(record))) %>
	    <% end %>
	    
	    <% if has_fulltext?(record) %>
	      <% fulltextlinks.push(show_best_fulltext_link_detail(record)) %>
	    <% end %>
	    <%= fulltextlinks.join("<br />").html_safe %>
	    </dd>
	    <% elsif has_ill?(record) %>
	    <dt class="blacklight-ill">Interlibrary Loan:</dt>
	    <dd class="blacklight-ill"><%= show_ill(record) %></dd>  
	  <% end %>
	  <% else %>
	    <dt class="blacklight-fulltext"><%= link_to "Please log in to see full-text options", new_user_session_path %></dt>
	  <% end %>
	  
	  <br />
	  <dt class="blacklight-fulltext">Other Options:</dt>
	    <dd class="blacklight-fulltext"><%= link_to("View Record in EDS",show_plink(record),:target => "_blank") %></dd>
	    
  </div><!--/span -->
</div>
<% end %>
<%# render :partial => 'debug' %>
