<%
##
# Copyright 2013 EBSCO Information Services
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
%>

<% @current_url = request.original_url %>

<% catch :eds_connection_error do %>
  <% eds_connect %>

<% if has_search_parameters? %>
       <% options = generate_api_query(params) %>
       <%# <% clean_params = deep_clean(params) %>
       <%# <% params = clean_params %>

  <%# if @results %>
	<%# unless params[:fromDetail] == 'y'%>
	    <% search(options) %>
      <%# end %>
    <%# end %>
  <% end %>
      <% end %>

<script type="text/javascript">
  function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
  }
</script>

<% if @results && @results['SearchRequestGet'] %>
<% show_numlimiters.times do |i| %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#limiter-<%= i %>').click(function() {
      window.location.href = htmlDecode('<%= request.fullpath.split("?")[0] + "?" + generate_next_url %>&eds_action=') +  $('#limiter-<%= i %>').val();
      $("body").addClass("loading");       
    });
  });s
</script>
<% end %>
<% end %>
<div class="row">
  <div class="col-md-12">
           <% if ((defined? params[:q]) && !params[:q].empty?) %>
             <h2>	Results for <em><%= params[:q] %></em> in Articles & more
            <% end %>
             </h2>
      <form class="form-inline" role="form" action='/results'>
        <div class="form-group">   
          <input type="text" class="form-control" placeholder="search again" name="q">
        </div>
        <button type="submit" class="btn btn-small">search</button>
      </form>
    </div> 
  
  </div>
<div class="row">
  <div id="sidebar" class="col-md-3 col-sm-4">
    <% if has_search_parameters? %>
      <%= render :partial=>'facets' %>
    <% end %>
  </div><!--/well -->
  <div id="content" class="col-md-9 col-sm-8">
     <% if params[:eds_action] || params[:facetfilter] || params[:limiter] %>
       <div class="user-filters">
                <div class="row">
                <div class="col-sm-10">
                  <% if params[:eds_action] %>
                    <% epr = params[:eds_action].split(/\W+/) %>
                    <!-- <span class="ufacet">
                        <%# epr[2] = "y" ? "yes" : "no" %> 
                        </span> -->
                  <% end %>
                  <% if params[:facetfilter] %>
                    <% fpr = params[:facetfilter] %>
                    <% fpr.each do |uf| -%>
                      <% ufacet = uf.split(':') %> 
                      <span class="ufacet">
                        <%= ufacet[1] %>
                      </span>
                    <% end -%>
                  <% end %>

                  <% if params[:limiter] %>
                    <% lpr = params[:limiter] %>
                    <% lpr.each do |lf| -%>
                      <% lufacet = lf.split(':') %> 
                    <!-- 
                      <span class="ufacet">
                        <%# lufacet[1] %>
                        </span> -->
                    <% end -%>
                  <% end %>
                </div>
                <div class="col-sm-2">
                  <%= link_to 'Clear All Limits', articles_path(:q => params[:q]), :class => 'start-over' %>
                  <%= link_to 'Start Over', results_path, :class => 'start-over' %>
                </div>
              </div>
               </div>
            

      <% end %>
    
             

    <% unless has_search_parameters? %>
	    <%= render 'home' %>
    <% else %>

      

      <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

     
      <%= render :partial=>'sort_and_per_page' %>
      <div class="article-wrap">
        <%= render :partial=>'search_results' %>
      </div>
      <!-- div class="bottom-sort">
        <%# render :partial=>'sort_and_per_page' %>
      </div -->
    <% end %>

</div>
<%# render :partial=>'debug' %>

<div class="modal">Loading...</div>
</div>

