      <div class="push"></div>
  </div>

  </div>
  </div>
  <div class="footer" id="footer">
      <div class="container">
        <ul class="foot-nav">
          <li><%= link_to 'Search This Site', cms_root_url('site-search') %></li>
          <li><%= link_to 'Feedback', 'https://web.library.ualberta.ca/feedback/' %></li>
          <li><%= link_to 'Policies', cms_root_url('about-us/policies') %></li>
          <li><%= link_to 'Employment', cms_root_url('about-us/employment') %></li>
          <li><%= link_to 'Our People', cms_root_url('about-us/people') %></li>
          <li><%= link_to 'Our Collection', cms_root_url('about-us/collections') %></li>
          <li><%= link_to 'Support the Library', cms_root_url('support') %></li>
          <li><%= link_to 'Copyright', 'http://www.copyright.ualberta.ca' %></li>
        </ul>

        <p class="copyright hidden-xs"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><%= image_tag "cc.png", :class => "cc", :alt => "Copyright Statement" %></a>
        This work is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a> -- For exceptions, see the  <%= link_to 'Library Re-use and Attribution Statement.', cms_root_url('about-us/policies/re-use') %><%= link_to 'Web Site Privacy Policy', cms_root_url('about-us/policies/privacy-policy') %>
</p>
      <p>
          <%= link_to 'University of Alberta Libraries', cms_root_url('') %> - <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 - We are located on Treaty 6 / Métis Territory.<br/></p>
        </div>
      </div>
      </div>
