<!-- Start Header and Navigation -->
    <div class="" id="top"><a name="top"></a>
      <div class="container">
        <div class="collapse navbar-collapse hidden-xs"> <!-- UofA Blade -->
          <ul class="nav navbar-nav">
            <li><a href="#">My UAlberta</a></li>
            <li><a href="#">Find a Person</a></li>
            <li><a href="#">ONEcard</a></li>
            <li><a href="#">Bear Tracks</a></li>
            <li><a href="#">Maps</a></li>
            <li><a href="#">Email &amp; Apps</a></li>
            <li><a href="#">eClass</a></li>
            <li><a href="#" class="last">Libraries</a></li>
            <li><img src="/assets/blade-element.jpg" class="hidden-sm"/><li>
          </ul>
        </div> <!-- End UofA Blade -->
        <div class="row header">
          <div class="container">
            <div class="col-xs-8 col-md-6 col-sm-5">
              <h1>
                <%= link_to image_tag('ualib-logo.png', :class => 'ualogo', :alt =>'University of Alberta Libraries'), '/', data: { no_turbolink: true } %>
              </h1>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <h2>menu</h2><!-- Mobile menu button -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><!-- End mobile menu button -->
            <div class="col-xs-12 col-md-6 col-sm-7">
              <ul class="ask">
                <li><a href="#" class="ask-main">Ask Us</a></li>
                <li><a href="#" class="hidden-xs">Text</a></li>
                <li><a href="#" class="hidden-xs">Chat</a></li>
                <li><a href="#" class="hidden-xs">Email</a></li>
                <li><a href="#" class="last hidden-xs">Phone</a></li> 
              </ul>
            </div>
            <div id="navbar" class="collapse col-xs-10"><!-- Mobile menu -->
              <ul>
                <li class="active"><a data-scroll href="#top"  data-toggle="collapse" data-target="#navbar">Search &amp; Home</a></li>
                <li><a data-scroll href="#hours-anch" data-toggle="collapse" data-target="#navbar">Hours and Locations</a></li>
                <li><a data-scroll href="#services-pane" data-toggle="collapse" data-target="#navbar">Services</a></li>
                <li><a data-scroll href="#subjects-pane" data-toggle="collapse" data-target="#navbar">Subject Guides</a></li>
                <li><a data-scroll href="#news-pane" data-toggle="collapse" data-target="#navbar">News &amp; Events</a></li>
                <li><a data-scroll href="#research-pane" data-toggle="collapse" data-target="#navbar">Data Management</a></li>
                <li><a data-scroll href="#account-pane" data-toggle="collapse" data-target="#navbar">My Account</a></li>
                <li><a href="http://www.ualberta.ca">University of Alberta Home</a></li>
              </ul>
            </div><!-- End mobile menu -->
          </div>
        </div>
      <ul id="main-nav" class="small">
           <li class="col-sm-2" id="home">
              <h3><%= link_to 'Search & Hours', '/', data: { no_turbolink: true } %></h3>
          </li>
          <li class="col-sm-2" id="services">
            <h3><%= link_to 'Services', '/#services', data: { no_turbolink: true } %></h3>
          </li>
          <li class="col-sm-2" id="subjects">
              <h3><%= link_to 'Subject Guides', '/#subjects', data: { no_turbolink: true } %></h3>
          </li>
          <li class="col-sm-2" id="research">
            <h3><%= link_to 'Researcher Tools', '/#research', data: { no_turbolink: true } %></h3>
          </li>
          <li class="col-sm-2" id="news">
           <h3><%= link_to 'News & Events', '/#news', data: { no_turbolink: true } %></h3>
          </li>
          <li class="col-sm-2" id="account">
              <h3><%= link_to 'My Account', '/#account', data: { no_turbolink: true } %></h3>
          </li>
        </ul>
      </div>
  
    </div>
<!-- Commenting this out for now, as I don't know which search-box to keep. spopowich.
    <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
    
  <div class="container">
    <%# render_search_bar  %>
  </div>
</div> -->
