
<strong>Please note that University of Alberta Libraries cannot ensure the accuracy of these citations. Please verify the citation in the appropriate style guide.</strong>
<br /><br />
<p>For in-depth citation information, please visit our <a href="http://guides.library.ualberta.ca/citing" target="_blank">Citation Guides</a></p>
<br />
<% @documents.each do |document| %>

  <h3 class="modal-title"><%= document_heading(document) %></h3>

<% if document.respond_to?(:export_as_mla_citation_txt) %>
  <h4><%= t('blacklight.citation.mla') %></h4>
  <%= document.send(:export_as_mla_citation_txt).html_safe %><br/><br/>
<% end %>

<% if document.respond_to?(:export_as_apa_citation_txt) %>
  <h4><%= t('blacklight.citation.apa') %></h4>
  <%= document.send(:export_as_apa_citation_txt).html_safe %><br/><br/>
<% end %>

<%- if document.respond_to?(:export_as_chicago_citation_txt) -%>
  <h4><%= t('blacklight.citation.chicago') %> (Notes-Bibliography Format)</h4>
  <%= document.send(:export_as_chicago_citation_txt).html_safe %>
<%- end -%>

<br />
<br />

<% end %>
