<%# default partial to display solr document fields in catalog index view -%>
<div class="col-md-9">

  <% @ual = false %>

  <dl class="document-metadata dl-horizontal dl-invert">
    <% index_fields(document).each do |solr_fname, field| -%>
      <% if should_render_index_field? document, field %>
	     <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
       <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>
    <% if document.to_h["id"] =~ /^[0-9]*$/ %> 
    <% if document.to_h["source_tesim"] and document.to_h["source_tesim"].first == "Symphony" %> 
      <dt class="blacklight-format">Copies owned by: </dt><dd class="blacklight-format">
      <% if document["held_by_tesim"] %>
        <% @held_by_locations = [] %>
        <% document["held_by_tesim"].first.split.each do |held_by| %>
          <% @ual = true if @library_codes[held_by.to_i].include? "University of Alberta" %>
          <% @held_by_locations << @library_codes[held_by.to_i] %>
        <% end %>
        <%= @held_by_locations.join(", ") %>
      </dd>
      
    <% end %>
  <% end %>
      <dt><dd>
      <% if @ual or (document["source_tesim"] and document["source_tesim"].first == "SFX") %> <img alt="licensed for  U of A only" title="licensed for  U of A only" src="//s3.amazonaws.com/libapps/sites/165/icons/6665/ualib-logo.png" style="height:8%;width:8%"/>.
      <% elsif document["format"].first == "Database" and (document["icons_tesim"] and document["icons_tesim"].first.include? "ualib-logo.png") %>
         <img alt="licensed for  U of A only" title="licensed for  U of A only" src="//s3.amazonaws.com/libapps/sites/165/icons/6665/ualib-logo.png" style="height:8%;width:8%"/>.

      <% end %>
      </dd></dt>
<% end %>
    <% if document.to_h["format"] and document.to_h["electronic_tesim"] %>
    <% if document.to_h["format"].first == "Book" and document.to_h["electronic_tesim"].include? "Online" %>
        <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is an <strong>eBook</strong>.</dd>
      <% end %>
    <% end %>
    <% if document.to_h["format"] and document.to_h["electronic_tesim"] %>
    <% if document.to_h["format"].first == "Journal" and document.to_h["electronic_tesim"].include? "Online" %>
        <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is an <strong>Electronic Journal</strong>.</dd>
      <% end %>
    <% if document.to_h["format"].first == "Journal" and document.to_h["electronic_tesim"].include? "At Library" %>
        <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is a <strong>Print Journal</strong>.</dd>
      <% end %>
    <% end %>
  </dl>
</div>
<div class="col-md-3 results-img">
  
   
		  <% if document.to_h["isbn_tesim"] %>
        <img src="https://books.google.com/books?vid=ISBN<%= document.to_h["isbn_tesim"].first %>&amp;printsec=frontcover&amp;img=1&amp;zoom=1">
      <% end %>
  
</div>





