<%# default partial to display solr document fields in catalog index view -%>
<div class="col-md-9">

  <dl class="document-metadata dl-horizontal dl-invert">
    <% index_fields(document).each do |solr_fname, field| -%>
      <% if should_render_index_field? document, field %>
	     <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
       <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>
    <% if document.to_h["source"] and document.to_h["source"].first == "Symphony" %> 
      <% @holdings = fetch_symphony_locations(document) if document.to_h["source"].first == "Symphony" %>
      <% @location_strings = [] %>
      <dt class="blacklight-format">Copies available at</dt><dd class="blacklight-format">
      <% if @holdings and @locations %>
        <%= @holdings.each { |h| @location_strings << @locations[h.downcase] }; @location_strings.uniq.join(", ") if @holdings %></dd>
    <% end %>
  <% end %>
    <% if document.to_h["format"].first == "Book" and document.to_h["electronic_tesim"].first == "Online" %>
        <dt class="blacklight-ebook"></dt>Format note: <dd class="blacklight-ebook">This is an eBook.</dd>
    <% end %>
  </dl>
</div>
<div class="col-md-3 results-img">
  <% isbn = render_document_show_field_value(document, "isbn_t") %>
    <% if !isbn.blank? %>
		  <%=link_to image_tag("https://books.google.com/books?vid=ISBN"+isbn.split(',').first+"&printsec=frontcover&img=1&zoom=1"), document %>
    <% end -%>
</div>





