
        <table>
          <tr>
            <th>Subscription</th>
            <th>Coverage</th>
            <th>Note</th>
            <th>Our Usage Rights</th>
          </tr>
          <% for item in @holdings %> 
            <tr>    
              <td style="width:25%"><a href="<%= item[1][:url] %>" target='_blank'><%= item[1][:name] %></a></td>
              <td style="width:25%"><%= item[1][:coverage] %> </td>
                <td style="width:20%"><%= item[1][:note] ? item[1][:note].html_safe : "" %></td>
              <% if item[1][:our_target] %>
                <td><%= item[1][:our_target].html_safe %></td>
              <% end %>
            </tr>
          <% end %>
          
        </table>
        <% if @document[:issn_t] %>
          <p style="font-size:70%"><a href="https://erms.library.ualberta.ca/coral/terms/?issn=<%= @document[:issn_t].first %>" target="_blank">ill</a></p>
        <% end %>
