<%-
  # Compare with render_document_functions_partial helper, and
# _document_functions partial. BL actually has two groups
# of document-related tools. "document functions" by default
# contains Bookmark functionality shown on both results and
# item view. While "document tools" contains external export type
# functions by default only on detail.

-%>
<div class="panel panel-default show-tools">
  <div class="panel-heading">
    <%= t('blacklight.tools.title') %>
  </div>

  <div class="panel-body">

    <% if @urls.blank? && @document["source"] && @document["source"].first == "Symphony" && @holdable == "true" %>
      <%= render "place_hold" %>
    <% end %>

    <ul class="nav">
      <% if @document.export_formats.keys.include?( :refworks_marc_txt ) %>
        <%= render "refworks" %>
      <% end %>

      <% if @document.export_formats.keys.include?( :endnote ) %>
        <%= render "endnote" %>
      <% end %>


        <%- if @document.respond_to?( :to_email_text ) -%>
          <%= render "email" %>
        <%- end -%>

        <%- if @document.respond_to?( :to_sms_text ) -%>
          <%= render "sms" %>
        <%- end -%>


      <li class="send_correction">
        <%= render "correction_form" %>
      </li>

      <li><a href="/bookmarks">Go to Bookmarks</a></li>
      <li><a href="/search_history">View Search History</a></li>
      <% if (@document.respond_to?(:export_as_mla_citation_txt) || @document.respond_to?(:export_as_apa_citation_txt)) %>
        <li class="cite">
          <%= link_to t('View Citation (MLA/APA/Chicago)'), citation_catalog_path(:id => @document), {:id => 'citeLink', :class => 'lightboxLink'} %>
        </li>
      <% end %>
    </ul>
    <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions @document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2" %>
  </div>
</div>
