<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal dl-invert">
  <% @linked_fields = ['uniform_title_tesim'] %>
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
      <dt class="blacklight-<%= solr_fname.parameterize %>">
        <%= render_document_show_field_label document, field: solr_fname %>
      </dt>
      <% value = render_document_show_field_value document, field: solr_fname %>
      <% if @linked_fields.include? solr_fname %>
        <dd class="blacklight-<%= solr_fname.parameterize %>">
          <%= link_to value, catalog_index_path(q: "\"#{value}\""), data: { turbolinks: false } %>
        </dd>
      <% elsif solr_fname == "title_series_t" %>
        <dd class="blacklight-<%= solr_fname.parameterize %>">
          <%= link_to value, catalog_index_path(title: "\"#{value}\"", search_field: 'advanced'), data: { turbolinks: false } %>
        </dd>
      <% elsif solr_fname == "author_display" %>
        <dd class="blacklight-<%= solr_fname.parameterize %>">
          <%= link_to value, catalog_index_path(author: value, search_field: 'advanced'), data: { turbolinks: false } %>
        </dd>
      <% elsif solr_fname == "author_addl_t" and @additional_authors %>
        <dd class="blacklight-<%= solr_fname.parameterize %>">
          <% for author in @additional_authors %>
            <%= link_to author, catalog_index_path(q: "\"#{author}\""), data: { turbolinks: false } %>
          <% end %>
        </dd>
      <% elsif solr_fname == "contents_tesim" %>
        <dd class="blacklight-<%= solr_fname.parameterize %>" style="font-size:75%">
          <ul>
            <% value.split('--').each do |note| %>
              <li><%= sanitize(note) %></li>
            <% end %>
          </ul>
        </dd>
    <% else %>
      <dd class="blacklight-<%= solr_fname.parameterize %>">
        <%= value %>
      </dd>
    <% end %>
  <% end -%>
<% end -%>
</dl>
