
        <table class="table table-responsive">
          <tr>
            <th class="call-number">Call Number</th>
            <th>Location / Status</th>
            <th>Library</th>
            <th class="hidden-xs">Item Type</th>
            <th>Action</th>
          </tr>

          <br />

          <% for item in @holdings %>
            <% @unavailable = true if SYMPHONY_STATUSES[item[:status].downcase.to_sym] == "unavailable" %>
            <tr>
              <td><%= item[:call] %></td>
              <% if item[:status] == "CHECKEDOUT" %>
                <% if item[:due] %>
                  <td style="padding-right:2px;font-size:75%"><strong>Due: <%= DateTime.parse(item[:due]).strftime("%m/%d/%Y %l:%M %P").gsub("00:00 am","").gsub("12:00 am","") %></strong>
                  <% if item[:reserve] %>
                    <p style="font-size:small"><%= SYMPHONY_CIRC_RULES[item[:reserve_rule].to_sym] %></p>
                  <% end %>
                </td>
                <% else %><td>Unknown/Never</td>
              <% end %>
              <% else %>
                <td class="holding-status"><%= SYMPHONY_STATUSES[item[:status].downcase.to_sym] %>
                <% if @unavailable %>
                  <p style="font-size: small"><strong>Note: For access, please contact any University of Alberta Libraries service desk in person or at <a href="http://www.library.ualberta.ca/askus" target="_blank">www.library.ualberta.ca/askus.</a></strong></p>
                <% end %>
                <% if item[:public_note] %>
                  <p style="font-size:small"><strong>Note: <%= item[:public_note] %></strong></p>
                <% end %>
                  <% if item[:reserve] or item[:status]=="RESERVES"%>
                    <p style="font-size:small"><%= SYMPHONY_CIRC_RULES[item[:reserve_rule].to_sym] %></p>
                  <% end %>
              </td>
              <% end %>
              <td><a href="http://catalogue.library.ualberta.ca/sirsi/index.cfm?location=<%= item[:location] %>" target="_blank"><%= library_location(item[:location]) %></a></td>
              <% if @document["format"].include? "Journal" %>
            <% end %>
              <% if item[:type] and !item[:type].blank? and item[:type].is_a? String %>
                <td class="holding-type hidden-xs"><%= SYMPHONY_ITEM_TYPES[item[:type].downcase.to_sym] %></td>
              <% else %>
                <td></td>
              <% end %>
              <td>
                  <% if read_on_site_path(item, @document.id, @document.header_title).present? %>
                    <%= link_to('Request Me',
                                read_on_site_path(item, @document.id, @document.header_title),
                                class: 'normal-link',
                                target: :_blank) %>
                  <%- end -%>
                  <% if @document.respond_to?( :to_email_text ) %>
                    <%= link_to "Email Me", email_catalog_path(:id => @document, :call=>item[:call], :location=>library_location(item[:location])), {:id => 'emailLink', :class => 'lightboxLink'} %>
                  <%- end -%>
                  <%- if @document.respond_to?( :to_sms_text ) -%>
                    <%= link_to "Text Me", sms_catalog_path(:id => @document, :call=>item[:call]), {:id => 'smsLink', :class => 'lightboxLink'} %>
                  <%- end -%>
              </td>
            </tr>
            <% @unavailable = false %>
          <% end %>
        </table>
