<div class="col-md-12">
<div class="row">
          <div class="col-sm-6">
  <h2> 
Results for <em>
            <% if params[:q] and params[:q] =='' %>
                   everything 
                 <% elsif params[:all_fields]
                 @terms = []
                 @terms << params[:all_fields] if !params[:all_fields].blank?
                 @terms << params[:title] if !params[:title].blank?
                 @terms << params[:author] if !params[:author].blank?
                 @terms << params[:subject] if !params[:subject].blank?
               %>
                    
                <%= @terms.join(" #{params[:op]} ") %>
            <% else %>
            	<%= params[:q] %>
			<% end %>
    </em> 
        </h2>
        
			<form class="form-inline" role="form">
            	<div class="form-group">   
                    <input type="text" class="form-control" value="<%= params[:q] %>" name="q">
                </div>
                <button type="submit" class="btn btn-small">search again</button><a class="btn btn-sm-ad" href="/advanced" data-no-turbolink="true">advanced</a> 

            </form>
		</div>  
      <div class="col-sm-6 outlined hidden-xs">
        <p>Questions about your results or your research? <a href="http://library.ualberta.ca/askus/chatref.html" target="_blank">chat with us!</a></p> 
      </div>
    <%= link_to results_path(:q => params['q']), :class => "as-grid" do %>
        <span class="glyphicon glyphicon-th-large"></span> view results as a grid
      <% end %>
    </div>
    <div class="row top-margin">
<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>
<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'search_results' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>
</div>
</div>

