<div class="needs-js"></div>
<div class="col-md-12">
<div class="row">
  <div class="col-sm-6">
  <% if !params[:search_field] and !params[:f] and !params[:q] or (params[:q] and params[:q]=='') and !Rails.env.development? %>
    <h2>Begin your <%= @collection_name.downcase.singularize %> search here</h2>
    <% else %>
  <h2>
Results for <em>
            <% if params[:q] and params[:q] =='' %>
                  everything
                <% elsif params[:all_fields]
                @terms = []
                @terms << params[:all_fields] if !params[:all_fields].blank?
                @terms << params[:title] if !params[:title].blank?
                @terms << params[:author] if !params[:author].blank?
                @terms << params[:subject] if !params[:subject].blank?
                @terms << params["author_display"].first if !params["author_display"].blank?
              %>
                <%= @terms.join(" #{params[:op]} ") %>
              <% else %>
                <% if params[:q] %>
                  <%= params[:q] %>
                <% elsif params[:author] %>
                  <%= params[:author] %>
                <% end %>
      <% end %>
</em> <%= @collection_name %>
</h2>


<% end %>

      <form class="form-inline" role="form">
              <div class="form-group">
                    <input type="text" class="form-control" value="<%= params[:q] %>" name="q">
                </div>
                <button type="submit" class="btn btn-small"><%= (params["q"] and params[:q] != '') ? "search again" : "search" %></button><a class="btn btn-sm-ad" href="/advanced" data-no-turbolink="true">advanced</a>

            </form>
    </div>
      <div class="col-sm-6 outlined hidden-xs">
        <p>Questions about your results or your research? <a href="https://search.library.ualberta.ca/ask-us" target="_blank">ask us!</a></p>
      </div>

</div>



<% if params[:search_field] or params[:f] or params[:q] and params[:q] != '' or Rails.env == "development" %>
  <div class="row top-margin">
    <div id="sidebar" class="col-md-3 col-sm-4 ">
      <% if facet_values?  %>
        <div id="facets" class="facets sidenav">

          <div class="top-panel-heading panel-heading">
            <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
              <span class="sr-only">Toggle facets</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          <h4>
            <%= t('blacklight.search.facets.title') %>
          </h4>
            </div>

          <div id="facet-panel-collapse" class="collapse panel-group">
          <%= render_facet_partials %>
        </div>
        </div>
      <% end %>
    </div>
    <div id="content" class="col-md-9 col-sm-8">
      <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

      <% @page_title = t('blacklight.search.title', :application_name => application_name) %>


      <% content_for(:head) do -%>
        <%= tag :meta, :name => "totalResults", :content => @response.total %>
        <%= tag :meta, :name => "startIndex", :content => @response.start %>
        <%= tag :meta, :name => "itemsPerPage", :content => @response.limit_value %>
        <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
        <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
      <% end -%>


      <% if should_show_spellcheck_suggestions? @response %>
        <div id="spell">
          <h4 class="suggest"><em><%= t('blacklight.did_you_mean', :options => safe_join(@response.spelling.words.map { |word| link_to_query(word) }, " #{t('blacklight.or')} ")).html_safe %></em></h4>
        </div>
      <% end %>

      <% if query_has_constraints? %>
        <div id="appliedParams" class="clearfix constraints-container">
          <div class="pull-right">
            <%= link_to "View Search History", "/search_history", :class => "btn btn-sm btn-text", :id=>"searchHistoryLink" %>
            <%= link_to t('blacklight.search.start_over'), root_path, :class => "catalog_startOverLink btn btn-sm btn-text", :id=>"startOverLink" %>
          </div>
          <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
          <%= render_constraints(params) %>
        </div>
      <% end %>

      <%= render 'sort_and_per_page' %>

      <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

      <%- if @response.empty? %>
        <h2><%= t 'blacklight.search.zero_results.title' %></h2>
        <div id="documents" class="noresults">
          <h3><%= t 'blacklight.search.zero_results.modify_search' %></h3>
          <ul>
            <li><%= t 'blacklight.search.zero_results.use_fewer_keywords' %></li>
            <%- if params[:q] and params[:search_field] and params[:search_field] != blacklight_config.default_search_field -%>
              <li><%= t 'blacklight.search.zero_results.search_fields', :search_fields => search_field_label(params) %> -
              <%= link_to t('blacklight.search.zero_results.search_everything'), url_for(params_for_search(:search_field=>blacklight_config.default_search_field.key)) %>
              </li>
            <%- end %>
          </ul>
        </div>
      <%- elsif render_grouped_response? %>
        <% # container for all groups in index view -%>
        <div id="groups">
          <%- @response.groups.each do |g| %>
            <h3 class="group-key"><%= g.key %></h3>
            <div class="grouped-documents">
              <div id="documents" class="documents-<%= document_index_view_type %>">
                <% g.docs.each.with_index do |document, index| %>
                  <div class="document <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>">

                    <% # header bar for doc items in index view -%>
                    <div class="documentHeader row">


                      <%# main title container for doc partial view
                          How many bootstrap columns need to be reserved
                          for bookmarks control depends on size.
                      -%>

                      <h5 class="index_title col-sm-9 col-lg-10">
                      <% counter = document_counter_with_offset(index) %>
                      <span class="document-counter">
                      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
                    </span>

                    <% document.to_h['subtitle_display'] ? @subtitle = ": #{document.to_h['subtitle_display'].first}" : @subtitle = "" %>
                    <% document.to_h['edition_tesim'] ? @edition = ", #{document.to_h['edition_tesim'].first}" : @edition = "" %>
                    <% document.to_h['title_display'].nil? ? @combined_title = "Untitled document" : @combined_title = document.to_h['title_display'].first+@subtitle+@edition%>

                      <%= link_to_document document, :label=>@combined_title, :counter => counter %>
                      <% if document["ua_only_tesim"] %>
                        <% if document["ua_only_tesim"].first == "1" %> <%= image_tag "icn_uofa.gif" %> <% end %>
                      <% end %>
                      </h5>

                      <% # bookmark functions for items/docs -%>
                      <%= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2 hidden-xs" %>
                    </div>
                    <%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
                      <div class="document-thumbnail">
                        <%= tn %>
                      </div>
                    <%- end %>
                    <%# default partial to display solr document fields in catalog index view -%>

                    <div class="col-md-9">

                      <% @ual = false %>

                      <dl class="document-metadata dl-horizontal dl-invert hidden-xs">

                        <!-- Display metadata fields -->
                        <% index_fields(document).each do |solr_fname, field| -%>
                          <% if should_render_index_field? document, field %>
                            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
                            <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
                          <% end -%>
                        <% end -%>

                        <% if document.to_h["id"] =~ /^[0-9]*$/ %>

                          <!-- Display owning libraries -->
                          <% if document.to_h["source_tesim"] and document.to_h["source_tesim"].first == "Symphony" %>
                            <dt class="blacklight-format">Copies owned by: </dt>
                            <dd class="blacklight-format">
                              <%= document["location_tesim"].join(', ') %>
                          <% end %>

                          <% if display_ual_shield document %>
                              <img alt="licensed for U of A" title="licensed for U of A" src="//s3.amazonaws.com/libapps/sites/165/icons/6665/ualib-logo.png" style="height:8%;width:8%"/>.
                          <% end %>

                            </dd>
                            </dt>

                          <% end %>

                          <!-- Display format note -->
                          <% if document.to_h["format"] and document.to_h["electronic_tesim"] %>
                            <% if document.to_h["format"].first == "Book" and document.to_h["electronic_tesim"].include? "Online" %>
                              <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is an <strong>eBook</strong>.</dd>
                            <% elsif document.to_h["format"].first == "Journal" and document.to_h["electronic_tesim"].include? "Online" %>
                              <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is an <strong>Electronic Journal</strong>.</dd>
                            <% elsif document.to_h["format"].first == "Journal" and document.to_h["electronic_tesim"].include? "At Library" %>
                              <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is a <strong>Print Journal</strong>.</dd>
                            <% end %>
                          <% end %>

                      </dl>
                    </div>

                    <div class="col-sm-3 results-img hidden-xs">
                      <% if document.to_h["isbn_tesim"] %>
                        <img src="https://books.google.com/books?vid=ISBN<%= document.to_h["isbn_tesim"].first %>&amp;printsec=frontcover&amp;img=1&amp;zoom=1">
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <%- if g.total > @response.group_limit %>
              <%= link_to t('blacklight.search.group.more'), add_group_facet_params_and_redirect(g), :class => 'more-in-group' %>
            <%- end %>
          <%- end %>
        </div>
      <%- else %>

        <div id="documents" class="documents-<%= document_index_view_type %>">
          <% @document_list.each.with_index do |document, index| %>
            <div class="document <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>">
              <% # header bar for doc items in index view -%>
              <div class="documentHeader row">


                <%# main title container for doc partial view
                    How many bootstrap columns need to be reserved
                    for bookmarks control depends on size.
                -%>

                <h5 class="index_title col-sm-9 col-lg-10">
                <% counter = document_counter_with_offset(index) %>
                <span class="document-counter">
                <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
              </span>

              <% document.to_h['subtitle_display'] ? @subtitle = ": #{document.to_h['subtitle_display'].first}" : @subtitle = "" %>
              <% document.to_h['edition_tesim'] ? @edition = ", #{document.to_h['edition_tesim'].first}" : @edition = "" %>
              <% document.to_h['title_display'].nil? ? @combined_title = "Untitled document" : @combined_title = document.to_h['title_display'].first+@subtitle+@edition%>

                <%= link_to_document document, @combined_title, :counter => counter %>
                <% if document["ua_only_tesim"] %>
                  <% if document["ua_only_tesim"].first == "1" %> <%= image_tag "icn_uofa.gif" %> <% end %>
                <% end %>
                </h5>

                <% # bookmark functions for items/docs -%>
                <%= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2 hidden-xs" %>
              </div>
              <%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
                <div class="document-thumbnail">
                  <%= tn %>
                </div>
              <%- end %>
              <%# default partial to display solr document fields in catalog index view -%>

              <div class="col-md-9">

                <% @ual = false %>

                <dl class="document-metadata dl-horizontal dl-invert hidden-xs">

                  <!-- Display metadata fields -->
                  <% index_fields(document).each do |solr_fname, field| -%>
                    <% if should_render_index_field? document, field %>
                      <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
                      <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
                    <% end -%>
                  <% end -%>

                  <% if document.to_h["id"] =~ /^[0-9]*$/ %>

                    <!-- Display owning libraries -->
                    <% if document.to_h["source_tesim"] and document.to_h["source_tesim"].first == "Symphony" %>
                      <dt class="blacklight-format">Copies owned by: </dt>
                      <dd class="blacklight-format">
                        <%= document["location_tesim"].join(', ') %>
                    <% end %>

                    <% if display_ual_shield document %>
                        <img alt="licensed for U of A" title="licensed for U of A" src="//s3.amazonaws.com/libapps/sites/165/icons/6665/ualib-logo.png" style="height:8%;width:8%"/>.
                    <% end %>

                      </dd>
                      </dt>

                    <% end %>

                    <!-- Display format note -->
                    <% if document.to_h["format"] and document.to_h["electronic_tesim"] %>
                      <% if document.to_h["format"].first == "Book" and document.to_h["electronic_tesim"].include? "Online" %>
                        <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is an <strong>eBook</strong>.</dd>
                      <% elsif document.to_h["format"].first == "Journal" and document.to_h["electronic_tesim"].include? "Online" %>
                        <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is an <strong>Electronic Journal</strong>.</dd>
                      <% elsif document.to_h["format"].first == "Journal" and document.to_h["electronic_tesim"].include? "At Library" %>
                        <dt class="blacklight-ebook">Note:</dt> <dd class="blacklight-ebook">This is a <strong>Print Journal</strong>.</dd>
                      <% end %>
                    <% end %>

                </dl>
              </div>

              <div class="col-sm-3 results-img hidden-xs">
                <% if document.to_h["isbn_tesim"] %>
                  <img src="https://books.google.com/books?vid=ISBN<%= document.to_h["isbn_tesim"].first %>&amp;printsec=frontcover&amp;img=1&amp;zoom=1">
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <%- end %>

      <%= render 'results_pagination' %>

    </div>
  </div>
<% end %>
</div>


<!-- Place this script as near to the end of your BODY as possible. -->
<script type="text/javascript">
  (function() {
    var x = document.createElement("script"); x.type = "text/javascript"; x.async = true;
    x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "libraryh3lp.com/js/libraryh3lp.js?8994";
    var y = document.getElementsByTagName("script")[0]; y.parentNode.insertBefore(x, y);
  })();
</script>
