<div class="needs-js"></div>
<div class="col-md-12">
  <div class="row">
    <div class="col-sm-6">
      <% if !params[:search_field] and !params[:f] and !params[:q] or (params[:q] and params[:q]=='') and !Rails.env.development? %>
        <h2>Begin your <%= @collection_name.downcase.singularize %> search here</h2>
      <% else %>
        <h2>
          Results for
          <em>
            <% if params[:q] and params[:q] =='' %>
              everything
            <% elsif params[:all_fields]
              @terms = []
              @terms << params[:all_fields] if !params[:all_fields].blank?
              @terms << params[:title] if !params[:title].blank?
              @terms << params[:author] if !params[:author].blank?
              @terms << params[:subject] if !params[:subject].blank?
              @terms << params["author_display"].first if !params["author_display"].blank? %>
              <%= @terms.join(" #{params[:op]} ") %>
            <% else %>
              <% if params[:q] %>
                <%= params[:q] %>
              <% elsif params[:author] %>
                <%= params[:author] %>
              <% end %>
            <% end %>
          </em>
          <%= @collection_name %>
        </h2>
      <% end %>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" value="<%= params[:q] %>" name="q">
        </div>
        <button type="submit" class="btn btn-small">
          <%= params['q'] && (params[:q] != '') ? 'search again' : 'search' %>
        </button>
        <a class="btn btn-sm-ad" href="/advanced" data-no-turbolink="true">advanced</a>
      </form>
    </div>

    <div class="col-sm-6 outlined hidden-xs">
      <p>
        Questions about your results or your research?
        <a href="https://search.library.ualberta.ca/ask-us" target="_blank">ask us!</a>
      </p>
    </div>
  </div>

  <% if params[:search_field] or params[:f] or params[:q] and params[:q] != '' or Rails.env == "development" %>
    <div class="row top-margin">
      <div id="sidebar" class="col-md-3 col-sm-4">
        <%= render 'search_sidebar' %>
      </div>
      <div id="content" class="col-md-9 col-sm-8">
        <%= render 'search_results' %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/chatref' %>
