<%# Using the Bootstrap Pagination class -%>
<% if @previous_document || @next_document %>
  <div class="w-100">
    <div id="previousNextDocument">
      <div class="page_links">
        <% if @previous_document %>
          <%= link_to_previous_document @previous_document %> |
        <% end %>
        <%= item_page_entry_info %>
        <% if @next_document %>
          | <%= link_to_next_document @next_document %>
        <% end %>
      </div>

      <div class="float-right search-widgets">
        <%= link_back_to_catalog(label: 'Back to Search Results', class: 'btn btn-ltblue', id: 'no-dot') %>
        <%= link_to 'Start Over', root_path, class: 'btn btn-ltblue', id: 'no-dot' %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div id="sidebar" class="order-md-1 order-2 col-md-2 top-margin">
    <%= render_document_sidebar_partial %>
  </div>

  <div id="content" class="order-md-2 order-1 col-md-5 show-document top-margin">
    <% @page_title = t('blacklight.search.show.title', document_title: document_show_html_title, application_name: application_name).html_safe -%>

    <% content_for(:head) { render_link_rel_alternates } -%>

    <div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
      <div id="doc_<%= @document.id.to_s.parameterize %>">
        <%# bookmark/folder functions -%>
        <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
        <% if @document.to_h["databasedescription_tesim"] %>
          <%= @document.to_h['databasedescription_tesim'].first.html_safe %>
        <% end %>
        <div class="d-none d-md-block">
          <% if @subjects %>
            <div id="subject-list">
              <p class="blacklight-subject_topic_facet">Subjects</p>
              <ul class="subject-chain-links">
                <% @subjects.each do |subject| %>
                  <li>
                    <% subject.each_with_index do |asubject, index| %>
                      <%= link_to asubject, catalog_index_path(q: subject_query(subject.take(index + 1)), view: 'brief', search_field: 'subject'), data: { turbolinks: false } %>
                      <% unless index == subject.size - 1 %>
                        <%= icon('fas', 'angle-right') %>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
    <%#
    COinS, for Zotero among others.
    This document_partial_name(@document) business is not quite right,
    but has been there for a while.
    %>
    <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
  <% end %>

  <div class="order-3 col-md-5">
    <% if electronic_access_bottom? %>
      <div id="electronic_access">
        <p class="row">Note: No University of Alberta Access. On-campus access allowed at the following locations: </p>
        <% @non_ua_urls.each do |location,url| %>
          <div class="row">
            <%= link_to eaccess_label(location), electronic_access_url(url.include?('databases'), url), target: '_blank' %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @holdings.blank? %>
      <% unless @document["format"].include? "Database" %>
        <br />
        <%= "No copies found. This item may be lost or missing, or the data may be temporarily unavailable. Please <a href='/ask-us' target='_blank'>ask us</a> for assistance.".html_safe %>
      <% end %>
    <% else %>
      <%= render 'holdings' %>
    <% end %>
  </div>

</div>
