<div id="content" class="col-md-9 show-document top-margin">
  <%= render 'previous_next_doc' %>
  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
 
  <% content_for(:head) { render_link_rel_alternates } -%>

  <div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>" class="col-sm-9">
      <% # bookmark/folder functions -%>
      <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
      <% if @document.to_h["databasedescription_tesim"] %>
        <%= @document.to_h["databasedescription_tesim"].first.html_safe %>
      <% end %>
     
     <div class="hidden-xs">
      <% if @subjects  %>
        <%= render "subjects" %>
      <% end %>
    </div>
    <%# if @authors %>
      <%# render "authors" %>
   <%# end %>

    </div>
    <div class="col-sm-3 full-record-book-jacket hidden-xs">
      <% if @document[:isbn_t] %>
        <img src="https://books.google.com/books?vid=ISBN<%= @document[:isbn_t].first %>&amp;printsec=frontcover&amp;img=1&amp;zoom=1">
      <% end %>
    </div>
</div>
</div>
    <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <!-- 
           // COinS, for Zotero among others. 
           // This document_partial_name(@document) business is not quite right,
           // but has been there for a while. 
      -->
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
    <% end %>
  <div id="sidebar" class="col-sm-3 top-margin hidden-xs">
  <%= render_document_sidebar_partial %>
</div>
 <div class="visible-xs">
   <% if @urls.blank? && @document["source"] && @document["source"].first == "Symphony" && @holdable == "true" %>
      <%= render "place_hold" %>
    <% end %>
  </div>
<div class="col-sm-12">
   <% if @document["format"].include? "Database" %>
     <%= render "databases" %>
      <% end %>

      <% if @ua_urls %>
        <%= render "main_url_display" %>
      <% end %>
      <% if @non_ua_urls %>
        <% if @ua_urls.empty? %>
          <%= render "urls" %>
        <% end %>
      <% end %>

      <% if @holdings.nil? || @holdings.empty? %>
        <% unless @document["format"].include? "Database" %>
        <br />
        <%= "No copies found. This item may be lost or missing, or the data may be temporarily unavailable. Please <a href='/ask-us' target='_blank'>ask us</a> for assistance.".html_safe %>
      <% end %>

      <% else %>
  <%= render "holdings" %>
<% end %>

</div>
