<div id="content" class="col-md-9 show-document top-margin">
  <%= render 'previous_next_doc' %>
  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
  <% content_for(:head) { render_link_rel_alternates } -%>
  <div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>" class="col-md-9">
      <% # bookmark/folder functions -%>
      <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>

      <% if @document["format"].include? "Database" %>
        <table>
          <tr><th>Abstract</th></tr>
          <tr><td><%= @document["abstract_tesim"].first %></td></tr>
          <% if @document["coverage_tesim"] %>
          <tr><th>Coverage</th></tr>
          <tr><td><%= @document["coverage_tesim"].first %></td></tr>
        <% end %>
        <tr><th>URL</th></tr>
        <% if @document["primary_url_tesim"] %>
        <tr><td><a href="<%= @document["primary_url_tesim"].first %>" target='_blank'><%= @document["primary_url_tesim"].first %></a></td>
        </tr>
      <% else %>
        <tr><td><a href="http://library.ualberta.ca/databases/databaseinfo/index.cfm?ID=<%= @document["id_tesim"].first %>" target='_blank'>http://library.ualberta.ca/databases/databaseinfo/index.cfm?ID=<%= @document["id_tesim"].first %></a></><td>
        </tr>
      <% end %>
       <% if @document["conditions_tesim"] %>
          <tr><th>Conditions</th></tr>
          <tr><td><%= @document["conditions_tesim"].first %></td></tr>
        <% end %>
      </table>
      <br />
      <% end %>
      <% if (@document["format"].include?("service") or @document["format"].include?("digital collection") or @document["format"].include?("library")) %>
        <table>
          <tr><th>URL: <a href="<%= @document["url_tesim"].first %>" target=_blank><%= @document["url_tesim"].first %></a></th></tr>
      </table>
      <br />
      <% end %>
    
      <% if @urls %>
        <% unless @urls.empty? && @alternative_urls.empty? %>
          <div id ="electronic_access">
            <% unless @urls.empty? %>
              <% @urls.each do |url| %>
                <span class="url-label">URL:</span> 
                <a href="<%= Rails.application.config.proxy+url[:url] %>" target="_blank"><%= url[:display] %> <span><%= url[:url] %></span>
                </a>
              <% end %>
            <% end %>
            <% if (@urls.empty?) && (!@alternative_urls.empty?) %>
              <p>Note: No University of Alberta Access. On-campus access allowed at the following locations: </p>
              <% @alternative_urls.each do |url| %>
                <a href="<%= url[:url] %>" target="_blank"><%= url[:display] %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3 full-record-book-jacket">
      <% if @document[:isbn_t] %>
        <img src="https://books.google.com/books?vid=ISBN<%= @document[:isbn_t].join %>&amp;printsec=frontcover&amp;img=1&amp;zoom=1">
      <% end %>
    </div>
  </div>
  <% unless @holdings.empty? %>
    <div id = "holdings" class="col-md-12">
      <% if @document["source"].first == "Symphony"  %>
        <table>
          <tr>
            <th class="call-number">Call Number</th>
            <th>Copy</th>
            <th>Location</th>
            <th>Library</th>
          </tr>
          <% for item in @holdings %> 
            <tr>
              <td><%= item[:call_number] %></td>
              <td><%= item[:copies] %> </td>
              <td><%= @statuses[item[:status].to_s.downcase] %></td>
              <td><a href="http://www.library.ualberta.ca/sirsi/index.cfm?location=<%= item[:location] %>"><%= @locations[item[:location].downcase] %></a></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <% if @document["source"].first == "SFX"  %>
        <table>
          <tr>
            <th>Subscription</th>
            <th>Coverage</th>
          </tr>
          <% for item in @holdings %> 
            <tr>    
              <td><a href="<%= item[1][:url] %>" target='_blank'><%= item[1][:name] %></a></td>
              <td><%= item[1][:coverage] %> </td>
              <% if item[1][:our_target] %>
                <td><%= item[1][:our_target].html_safe %></td>
              <% end %>
            </tr>
          <% end %>
          
        </table>
      <% end %>
    </div>
  <% end %>
</div>

<div id="sidebar" class="col-md-3 top-margin">
  <%= render_document_sidebar_partial %>
</div>


