
      <h3><span class="col-sm-6">Articles &amp; more</span>
        <% if @eds_count>0 %>
          <a href="/articles?q=<%= @query %>&includefacets=y&searchmode=all&view=brief&resultsperpage=20&pagenumber=1&highlight=y" class="col-sm-6 see-all-results"><%= number_with_delimiter(@eds_count) %> results</a>
        <% end %>
      </h3>
       <% if @eds_count == 0 %>
              <p class="no-results">No results were found<p>
            <% end %> 
      <ul>       
        <% i = 1 %> 
        <% if @eds.instance_of? Hash %>
        <% @eds.take(@local_eds_limit).each do |id,article| %>
        <li>
          <div class="row no-margin">
            <div class="col-sm-12">
              <span class="number-result-list"><%= i %>.</span> <a href="http://login.ezproxy.library.ualberta.ca/login?url=<%= article[:url] %>" target="_blank"><%= article[:title] %> </a> <span class="date">(<%= article[:format] %>)</span>
             </div>
           </div>
        </li>
        <% i+=1 %>
        <% end %>
      </ul>
        <% if @eds_count>10 %>
          <div class="results-bottom"><a href="/articles?q=<%= @query %>&includefacets=y&searchmode=all&view=brief&resultsperpage=20&pagenumber=1&highlight=y" class="col-sm-12">View all articles &amp; more</a></div>
        <% end %>
        <% else %>
          <p><%= @eds %></p>
        <% end %>
