   <div class="container" id="search-results">
    <div class="row results-head extra-top-margin">
   
        <div class="col-md-6"><h2> COUNT  Results for <em>QUERY</em></h2>

 <form class="form-inline" role="form">
                  <div class="form-group">
                   
                    <input type="text" class="form-control" placeholder="search again" name="search">
                  </div>
                  <button type="submit" class="btn btn-small">search</button>
                </form>

</div> 
        <div class="col-md-6 outlined">
       <p>Were you looking for hours? You can talk to a subject librarian about your search...</p>
   
        
       </div>
    </div>
        <div class="results-wrap top-margin">
        	<div class="col-md-4 results">
            <h3>On the Shelf <a href="#">see all <%= @symphony_count %> results</a></h3>
            <ul class="symphony">
            <% i = 1%>
					<% @symphony.each do |id,symphony| %>
            <li><%= i %><a href="#"> <%= symphony %></a></li>
            <% i+=1 %>
					<% end %>
				</ul>
        	</div>
			<div class="col-md-4 results" id="ejournals">
        <h3>Electronic Journals <a href="#">see all <%= @ejournals_count %> results</a></h3>       
        <ul class="ejournals">
          <% i = 1 %>
					<% @ejournals.each do |id,ejournals| %>
            <li><%= i %><a href="#"> <%= ejournals %></a></li>
            <% i+=1 %>
					<% end %>
				</ul>
				<div class="results-bottom">
					<a href="#" class="col-md-6 first">Next 5 results</a><a href="#" class="col-md-6">View all Articles</a>
				</div>
			</div>

        <div class="col-md-4 results">
 <h3>Databases</h3>
 <ul class="database">
          <% i = 1 %>
					<% @databases.each do |id,database| %>
            <li><%= i%>. <a href="http://library.ualberta.ca/databases/databaseinfo/index.cfm?ID=<%= id %>"><%= database %></a></li>
            <% i+=1 %>
					<% end %>
				</ul>
			</div>
