<% @local_symphony_limit = 15 %>
<% @local_journal_limit = 10 %>
<% @local_ebook_limit = 5 %>
<% @local_eds_limit = 10 %>
<% @local_database_limit = 10 %>

<div class="needs-js"></div>
<div class="container" id="search-results">
  <div class="row results-head top-margin">
    <div class="col-sm-6">
      <h2> 
        <% if @query =='' %>
          All Records
        <% else %>
          <%= number_with_delimiter(@complete_count) %>  results for <em><%= @query %></em>
        <% end %>
      </h2>

      <%= render "search_form" %>

    </div> 

    <div class="col-sm-6 outlined hidden-xs">
      <p>Questions about your results or your research? <a href="https://search.library.ualberta.ca/ask-us" target="_blank">ask us!</a></p> 
    </div>

    <div style="float:right">
      <%= link_to "Bookmarks", bookmarks_path %> | 
      <%= link_to "Search History", search_history_path %>
    </div>

  </div>

  <div class="results-wrap">
    <div class="col-sm-4 rcol">
      <div class="col-sm-12 results" > 
        <div id="books"> <!-- start of books and journals pane -->
        <%= render "books_and_journals_pane" %>
        </div><!-- end of books and journals pane -->
      </div>


      <div class="col-sm-4 results" id="articles"> <!-- start of articles pane -->
        <%= render "articles_pane" %>
      </div><!-- end of articles pane -->


      <div class="col-sm-4 results" id="ejournals"><!-- start of journals pane -->
        <%= render "ejournals_pane" %>
      </div><!-- end of journals pane -->


      <div class="col-sm-4 results extra-top-margin" id="databases"><!-- start of databases pane -->
        <%= render "database_pane" %>
      </div><!-- end of databases pane -->


    </div>
  </div>
  <%= render "shared/chatref" %>
