<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title>University of Alberta Libraries</title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%# favicon_link_tag asset_path('favicon.ico') %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Abel', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Google Analytics -->
    <% if Rails.application.secrets.google_analytics_token.present? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.secrets.google_analytics_token %>"></script>
      <%= javascript_tag do %>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        document.addEventListener('turbolinks:load', function() {
          return gtag('config', '<%= Rails.application.secrets.google_analytics_token %>', {
            'page_path': window.location.pathname
          });
        });
      <% end %>
    <% end %>
    <!-- End Google Analytics -->

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>" data-no-turbolink="true">
    <div class="wrapper">
      <%= render partial: 'shared/header_navbar' %>

      <div id="main-container" class="container">
        <%= render partial: '/flash_msg', layout: 'shared/flash_messages' %>

        <div class="row">
          <%= yield %>
        </div>

        <div class="push"></div>
      </div>
    </div>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/ajax_modal' %>
  </body>
</html>
